@keyframes ldio-qhdjhvthusd {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-qhdjhvthusd div {
  position: absolute;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border: 15px solid #292664;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-qhdjhvthusd div {
  animation: ldio-qhdjhvthusd 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-z1wwj8bd42d {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-qhdjhvthusd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qhdjhvthusd div { box-sizing: content-box; }
.wrapper-spinner{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}